{% extends 'layout.html' %}

{% block title %}
    Your profile
{% endblock %}

{% block main %}
    <div class="form-section container">
      <h1>Your profile</h1>
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="64" height="64" src="{{ user.profile.img.url }}">
      <p><b>@{{ user.username }}</b></p>
      <p><b>Email: {{ user.email }}</b></p>
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ updateForm }}
          {{ profileForm }}
          <button class="btn btn-warning mb-2" type="submit">Update</button>
      </form>
    </div>
{% endblock %}
